<div role="tabpanel" class="tab-pane fade in active" id="company-profile">
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="ion ion-ios-close-outline"></i></button>
            This information is last updated on 12th Oct 2017
        </div>
        <div class="clearfix"></div>
        <div class="data-table">
            <div class="header">
              general information 
              <span class="extra-info pull-right">
                  <i class="ion ion-ios-checkmark"></i> active
              </span>
            </div>
            <div class="data-row col-sm-12 no-padd">
                <div class="col-sm-6 inner-data">
                    <div class="sub-header">supplier reference</div>
                    ZC1032102
                </div>
                <div class="col-sm-6 inner-data">
                    <div class="sub-header">membership type</div>
                    supplier (b member)
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="data-table">
            <div class="header">company information</div>
            <div class="data-row col-sm-12 no-padd">
                <div class="pull-right update-actions hidden">
                  <button type="button" class="btn btn-default cancel-details">cancel</button>
                  <button type="button" class="btn btn-default save-details">save</button>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-6 inner-data">
                    <div class="sub-header">Supplier name (English)</div>
                    <span class="updated-text">anhui shengxin aluminium corporation limited</span>
                    <!-- <div class="form-group">
                        anhui shengxin aluminium corporation limited
                    </div> -->
                </div>
                <div class="col-sm-6 inner-data">
                    <div class="sub-header">
                      Total Annual Turnover 
                      <button type="button" class="btn btn-default pull-right edit-details">edit</button>
                    </div>
                    <span class="updated-text">2 Million $</span>
                    <!-- <div class="form-group">
                        <div class="col-sm-8 no-padd"><input type="text" class="form-control" placeholder="" value="2 Million"/></div>
                        <div class="col-sm-4 pull-right">
                          <select class="form-control">
                              <option>$</option>
                              <option></option>
                          </select>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="data-row col-sm-12 no-padd">
                <div class="col-sm-6 inner-data">
                    <div class="sub-header">Supplier name (Local Language Chinese)</div>
                    <span class="updated-text">anhui shengxin aluminium corporation limited</span>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="" value="anhui shengxin aluminium corporation limited"/>
                    </div>
                </div>
                <div class="col-sm-6 inner-data">
                    <div class="sub-header">Business License Number / Identification Number</div>
                    <span class="updated-text">BL06791</span>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="" value="BL06791"/>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            
            <div class="data-row col-sm-12 no-padd">
                <div class="col-sm-6 inner-data">
                    <div class="sub-header">address line 1*</div>
                    <span class="updated-text">xuancheg economics &amp; industrial area</span>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="" value="xuancheg economics & industrial area"/>
                    </div>
                </div>
                <div class="col-sm-6 inner-data">
                    <div class="sub-header">Business License Expiration date</div>
                    <span class="updated-text">19 Mar 2018</span>
                    <div class="form-group inner-addon right-addon">
                        <input type="text" class="form-control" placeholder="" value="19 Mar 2018"/> <i class="glyphicon glyphicon-calendar"></i>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="data-row col-sm-12 no-padd">
                <div class="col-sm-6 inner-data">
                    <div class="sub-header">address line 2*</div>
                    <span class="updated-text">xuancheg city, ahui province</span>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="" value="xuancheg city, ahui province"/>
                    </div>
                </div>
                <div class="col-sm-6 inner-data">
                    <div class="sub-header">Major Markets</div>
                    <span class="updated-text">Asia Pacific, Europe</span>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="" value="Asia Pacific, Europe"/>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="data-row col-sm-12 no-padd">
                <div class="col-sm-6 inner-data">
                    <div class="sub-header">city</div>
                    <span class="updated-text">xuancheg</span>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="" value="xuancheg"/>
                    </div>
                </div>
                <div class="col-sm-6 inner-data">
                    <div class="sub-header">website</div>
                    <a href="http://www.sxaluminium.com/" class="text-lowercase updated-text"><span>http://www.sxaluminium.com/</span></a>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="" value="http://www.sxaluminium.com/"/>
                    </div>
                </div>
            </div>
            <div class="data-row col-sm-12 no-padd">
                <div class="col-sm-6 inner-data">
                    <div class="sub-header">country</div>
                    <span class="updated-text">china</span>
                    <div class="form-group">
                        <div class="form-group">
                        <select class="form-control">
                          <option>china</option>
                            <option></option>
                        </select>
                        
                    </div>
                    </div>
                </div>
                <div class="col-sm-6 inner-data">
                    <div class="sub-header">languages Spoken</div>
                    <span class="updated-text">english &amp; spanish</span>
                    <div class="form-group CustomFormfield"> 
                      <select id="option-droup-demo" multiple="multiple">

<option value="English">English</option>
<option value="Danish">Danish</option>
<option value="Spanish">Spanish</option>
<option value="Chinese">Chinese</option>
<option value="Russian">Russian</option>


</select>
                        
                    </div>
                </div>
            </div>
            <div class="data-row col-sm-12 no-padd">
                <div class="col-sm-6 inner-data">
                    <div class="sub-header">Post Code / zip code</div>
                    <span class="updated-text">242000</span>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="" value="242000"/>
                    </div>
                </div>
                <div class="col-sm-6 inner-data">
                    <div class="sub-header">Total No of sites /  Facilities on Sedex</div>
                    <span class="updated-text">13</span>
                    <div class="form-group">
                        13
                    </div>
                </div>
            </div>
            <div class="data-row col-sm-12 no-padd">
                <div class="col-sm-6 inner-data">
                    <div class="sub-header">Main Conatact(Email ID)</div>
                    <a href="javascript:void(0);" class="updated-text"><span>h.huang@anhui.com</span></a>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="" value="h.huang@anhui.com"/>
                    </div>
                </div>
                <div class="col-sm-6 inner-data">
                    <div class="sub-header">subsidaries <!--<button type="button" class="btn btn-default pull-right edit-details">edit</button>--></div>
                    <a href="javascript:void(0);" class="updated-text"><span>Anhui (Briminghaam) Ltd</span></a> <div class="clearfix"></div>
                    <a href="javascript:void(0);" class="updated-text"><span>Anhui Deserts - Network</span></a>
                    <div class="form-group">
                        <a href="#">Anhui (Briminghaam) Ltd</a> <div class="clearfix"></div>
                          <a href="#">Anhui Deserts - Network</a>
                    </div>
                </div>
                <div class="data-row col-sm-12 no-padd">
                <div class="col-sm-6 inner-data">
                    <div class="sub-header">Telephone Number</div>
                    <span class="updated-text">+86 7689712345</span>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="" value="+86 7689712345"/>
                    </div>
                </div>
               
            </div>
                <div class="clearfix"></div>
                <div class="pull-right update-actions hidden">
                  <button type="button" class="btn btn-default cancel-details">cancel</button>
                  <button type="button" class="btn btn-default save-details">save</button>
                </div>
            </div>
        </div>

    </div>
     